version: '3.8'
services:
  database:
    image: postgres:alpine
    restart: unless-stopped
    container_name: database
    
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}

    ports:
      - "5432:5432"

    networks:
      - proxy_net

  adminer:
    image: adminer
    restart: unless-stopped
    container_name: adminer
    networks:
      - proxy_net

networks:
  proxy_net:
    external: true